.review {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: clamp(200px, 50%, 700px);
  margin-bottom: 15px;
}

.title {
  transform: translate(10px, -9px);
  background-color: white;
  padding: 0 5px;
  width: fit-content;
}

.content {
  margin: 5px;
  margin-top: 0;
}
